<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
    <p class="font-bold"><%= value %></p>
  </div>
<% end %>
